<?php
/**
 * @package WordPress
 */
define('DB_NAME', '{{ wp_db_name }}');
define('DB_USER', '{{ wp_db_user }}');
define('DB_PASSWORD', '{{ wp_db_password }}');
define('DB_HOST', 'localhost:/var/run/mysqld/mysqld.sock');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

/**#@+*/
define('AUTH_KEY',         '{{ wp_salts.stdout_lines[0] }}');
define('SECURE_AUTH_KEY',  '{{ wp_salts.stdout_lines[1] }}');
define('LOGGED_IN_KEY',    '{{ wp_salts.stdout_lines[2] }}');
define('NONCE_KEY',        '{{ wp_salts.stdout_lines[3] }}');
define('AUTH_SALT',        '{{ wp_salts.stdout_lines[4] }}');
define('SECURE_AUTH_SALT', '{{ wp_salts.stdout_lines[5] }}');
define('LOGGED_IN_SALT',   '{{ wp_salts.stdout_lines[6] }}');
define('NONCE_SALT',       '{{ wp_salts.stdout_lines[7] }}');
/**#@-*/

$table_prefix  = '{{ wp_db_prefix }}';
define('WP_MEMORY_LIMIT', '256M');
define('WP_MAX_MEMORY_LIMIT', '512M');

define('FORCE_SSL_ADMIN', true);
define('FORCE_SSL_LOGIN', true);
define('WP_SITEURL', 'https://{{ wpsite_fqdn }}' );
define('WP_HOME', 'https://{{ wpsite_fqdn }}' );

define('WP_REDIS_SCHEME', 'unix' );
define('WP_REDIS_PATH', '/var/run/redis/redis.sock' );

define('WP_POST_REVISIONS',7);
define('DISALLOW_FILE_EDIT',true);
define('WP_AUTO_UPDATE_CORE', 'minor' );

ini_set('display_errors','Off');
ini_set('error_reporting', E_ALL );
define('WP_DEBUG_DISPLAY', false);
define('WP_DEBUG', false);

if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');
require_once(ABSPATH . 'wp-settings.php');
