ALLOWHIDDENDIR=/dev/.lxc
ALLOWHIDDENDIR=/etc/.git
ALLOWHIDDENFILE=/etc/.etckeeper
ALLOWHIDDENFILE=/etc/.gitignore

AUTO_X_DETECT=1
DBDIR=/var/lib/rkhunter/db
DISABLE_TESTS=suspscan hidden_procs deleted_files packet_cap_apps apps
DISABLE_UNHIDE=1
ENABLE_TESTS=all
HASH_CMD=sha256sum
INSTALLDIR=/usr
LOGFILE=/var/log/rkhunter.log
MIRRORS_MODE=1
SCRIPTDIR=/usr/share/rkhunter/scripts
SCRIPTWHITELIST=/bin/egrep
SCRIPTWHITELIST=/bin/fgrep
SCRIPTWHITELIST=/bin/which
SCRIPTWHITELIST=/usr/bin/ldd
SCRIPTWHITELIST=/usr/sbin/adduser
TMPDIR=/var/lib/rkhunter/tmp
UPDATE_LANG="en"
UPDATE_MIRRORS=0
USE_SYSLOG=authpriv.warning
WEB_CMD=curl

MAIL_CMD=mail -s "[rkhunter] Warnings found for ${HOST_NAME}"
MAIL-ON-WARNING={{alert_email}}




