
DATE="$(date -Is)"
INTRO=1
REPORTLEVEL="server"
SENDMAILTO="{{ alert_email }}"
MAILASATTACH=0
FQDN=1
SYSLOGSUMMARY=1
ATTACKSUBJECT="Security Alerts"
SECURITYSUBJECT="Security Events"
ADDTAG="yes"
TMP="/tmp"

