# ~/.bashrc: executed by bash(1) for non-login shells.

# send an email when login

CNXIP="$(echo $SSH_CONNECTION | awk '{ print $1 }')"

content="$(
printf "CONNECTION ALERT\n  - host: %s\n" "$(hostname)"
printf "  - time: %s\n" "$(date -Is)"
printf "  - connected users: \n%s\n" "$(who)"
)"

mail -s "ALERT: $(date -Is) to $(hostname) from ${CNXIP}" {{ alert_email }} <<< "${content}"

# 

force_color_prompt=yes

if [ -n "$force_color_prompt" ]; then
    if [ -x /usr/bin/tput ] && tput setaf 1 >&/dev/null; then
        # We have color support; assume it's compliant with Ecma-48
        # (ISO/IEC-6429). (Lack of such support is extremely rare, and such
        # a case would tend to support setf rather than setaf.)
        color_prompt=yes
    else
        color_prompt=
    fi
fi

if [ "$color_prompt" = yes ]; then
    PS1='${debian_chroot:+($debian_chroot)}\[\033[01;31m\]\u@\H\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
else
    PS1='${debian_chroot:+($debian_chroot)}\u@\H:\w\$ '
fi
unset color_prompt force_color_prompt


HISTCONTROL=ignoreboth

export LS_OPTIONS='--color=auto'
eval "`dircolors`"
alias ls='ls $LS_OPTIONS'
alias ll='ls $LS_OPTIONS -lA'
alias l='ls $LS_OPTIONS -lgh'

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'


# bash completion
if [ -f /etc/bash_completion ]; then
  . /etc/bash_completion
fi

