server {
  listen 443 ssl http2 deferred;
  listen [::]:443 ssl http2 deferred;

  server_name {{ wpsite_fqdn }};

  root /srv/www/{{ wpsite_basedir }}/wp;
  index index.php;

  ssl_certificate         /srv/www/{{ wpsite_basedir }}/cert/{{ wpsite_fqdn }}.crt;
  ssl_certificate_key     /srv/www/{{ wpsite_basedir }}/cert/{{ wpsite_fqdn }}.key;
  ssl_trusted_certificate /srv/www/{{ wpsite_basedir }}/cert/{{ wpsite_fqdn }}.ca.pem;

  access_log  /var/log/nginx/{{ wpsite_basedir }}/{{ wpsite_fqdn }}.access.log.gz time buffer=128k gzip=4 flush=1m;

  include /etc/nginx/confs-enabled/S*;
  include /srv/www/{{ wpsite_basedir }}/confs-enabled/S*;
  include /srv/www/{{ wpsite_basedir }}/confs-local/S*;
}

server {
  listen 80;
  listen [::]:80;
  server_name {{ wpsite_fqdn }};
  return 301 https://{{ wpsite_fqdn }}$request_uri;
}

