[DEFAULT]
bantime = 3600
maxretry = 3

destemail = "{{ alert_email }}"
sender = "root@{{ exim_mailname }}"

[sshd-ddos]
enabled = true
find = 60

[nginx-http-auth]
enabled = true

[nginx-botsearch]
enabled = true

[nginx-limit-req]
enabled = true
find = 30
