
CNXIP="$(echo $SSH_CONNECTION | awk '{ print $1 }')"

content="$(
printf "CONNECTION ALERT\n  - host: %s\n" "$(hostname)"
printf "  - time: %s\n" "$(date -Is)"
printf "  - connected users: \n%s\n" "$(who)"
printf "\n NSLOOKUP \n%s\n" "$(nslookup $CNXIP | grep arpa)"
)"

mail -s "ALERT: $(date -Is) to $(hostname) from ${CNXIP}" {{ alert_email }} <<< "${content}"

